.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/fondos/fondo-rojo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 80px 0 120px 0;
    position: relative;
    margin-top: -45px;
}

.general {
    width: 1200px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    padding: 0 40px;
}

.general h2 {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
}

.general p {
    font-size: 17px;
    color: #ffffff;
    margin: 0;
}

.infoUbi {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itenUbi {
    display: flex;
    align-items: center;
    gap: 20px;
}

.itenUbi i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    font-size: 25px;
    border-radius: 100%;
    color: #9a1828;
    margin: 0;
    padding: 10px;
    transition: 1s;
    cursor: pointer;
}

.itenUbi i:hover {
    background-color: #1d70b7;
    color: #FFFFFF;
    border: 1px solid #1d70b7;
}

.social {
    display: flex;
    gap: 15px;
}

.social i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #9a1828;
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 100%;
    cursor: pointer;
    transition: 1s;
}

.social i:hover {
    background-color: #1d70b7;
    color: #FFFFFF;
    border: 1px solid #1d70b7;
}

@media (max-width: 1022px) {
    .general {
        display: flex;
        flex-wrap: wrap;
    }

    .content_1 {
        width: 600px
    }
}


@media (max-width: 767px) {
    .general {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .content_1 {
        width: 100%;
    }
}