@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700&display=swap');
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    background-color: #e8e8e8 !important;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}


.nav-link{
    color: #FFFFFF;
}

.nav-item{
    color: #FFFFFF;
}